<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="center">
        <span class="fa fa-info-circle glyp-index-title" aria-hidden="true"></span>
        <span class="index-title"><%= t '.title' %></span>
      </h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <br>

  <div class="row">
    <div class="col-sm-12">

      <h2>Website accessibility declaration "UKE Numeration"</h2>
      <p><span id="a11y-podmiot">Office of Electronic Communications</span> undertakes to ensure the accessibility <a href="https://numeracja.uke.gov.pl" target="_blank" id="a11y-url">UKE Numeration</a> in accordance with the Act of 4 April 2019 on digital accessibility of websites and mobile applications of public entities.</p>
      <p>The declaration on accessibility applies to <a href="https://cloud.uke.gov.pl" target="_blank" id="a11y-url">UKE Numeration</a></p>
      <p>Date of website publication: <span id="a11y-data-publikacja">2020-02-01</span></p>
      <p>Date of the last major update: <span id="a11y-data-aktualizacja">2020-07-06</span></p>
      <p>The website is partially compliant with the Act of 4 April 2019 on digital accessibility of websites and mobile applications of public entities due to incompatibilities listed below:
      <ul>
        <li>Invisible or poor (default) focus on all links, buttons and other active elements during keyboard navigation,</li>
        <li>Errors in HTML validation,</li>
        <li>insufficient contrast of page elements.</li>
      </ul></p>
      <p>The statement was drawn up: <span id="a11y-data-sporzadzenie">2019-09-20</span></p>
      <p>The statement was drawn up on the basis of a self-assessment.</p>
      <p>You can use the standard keyboard shortcuts on the website.</p>
      <h3 id="a11y-contact">Feedback and contact details</h3>
      <p>In case of problems with the availability of the website, please contact us.</p>
      <p>The person in charge is <span id="a11y-osoba">Tomasz Hupało</span>, email address <a href="mailto:tomasz.hupalo@uke.gov.pl"><span id="a11y-email">tomasz.hupalo@uke.gov.pl</span></a>. You may also contact the following telephone number <span id="a11y-telefon">22 534 93 07</span>.</p>
      <p>Requests for non-accessible information and complaints about lack of accessibility can be made through the same channels.</p>
      <p id="a11y-procedura">Everyone has the right to request the digital accessibility of a website, a mobile application or an element thereof. It is also possible to request access to information in alternative forms, for example, the reading of a digitally inaccessible document, a description of the content of a film without an audio description, etc. The request should include the contact details of the person making the request, an indication of which website or mobile application is being requested and how to contact him or her. If the person submitting the request expresses the need to receive information in an alternative form, they should also specify the form of such information.</p>
      <p>The Office of Electronic Communications shall fulfil the request immediately and no later than within 7 days. If it is not possible to meet this deadline, UKE shall inform immediately when the fulfilment of the request will be possible, but this deadline cannot be longer than 2 months. If it is not possible to ensure availability, UKE may propose an alternative means of access to the information.</p>
      <p>In the case of refusal to comply with a request for accessibility or alternative access to information, there is a possibility to file a complaint against such action.</p>
      <p>After having exhausted all possibilities, a complaint may also be lodged to the <a href="https://www.rpo.gov.pl/content/jak-zglosic-sie-do-rzecznika-praw-obywatelskich" target="_blank">Commissioner for Human Rights</a>.</p>
      <h3 id="a11y-architecture">Architectural accessibility</h3>
      <p>Detailed information on the architectural accessibility of UKE buildings can be found in the <a href="http://uke.gov.pl/dostepnosc/dostepnosc-w-budynkach-urzedu,4.html" target="_blank">Buildings Accessibility tab</a>.</p>
      <p>For more information on the accessibility of the Office of Electronic Communications, please see the <a href="http://www.uke.gov.pl/dostepnosc/" target="_blank">Accessibility tab</a></p>

    </div>
  </div> <!--/row -->

  <br>
  <br>

</div> <!--/container -->
