<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="center">
        <span class="index-title"><%= t '.title' %></span>
      </h1>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->
</div> <!--/container -->

<br>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <%= render 'info', cached: true %>
        </div> <!-- /.col-sm-12 -->
      </div> <!-- / class="row" -->    
    </div> <!--/col-sm-12 -->
  </div> <!--/row --> 
</div> <!--/container -->

