//@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300,700,600);

$font-family-base: 'Titillium Web', sans-serif;
//$font-family-base: Arial, "Helvetica", sans-serif;
//$font-size-base: 0.85rem;
$font-size-base: 14px;
//$font-size-base: 12px;



//$brand-primary:     #428bca;
//$brand-success:     #5cb85c;
//$brand-info:        #5bc0de;
//$brand-warning:     #f0ad4e;
//$brand-danger:      #d9534f;

//$brand-primary:                  darken(#428bca, 6.5%) !default; // #337ab7
//$btn-default-color:              #333 !default;
//$btn-default-bg:                 #fff !default;
//$btn-default-border:             #ccc !default;


$brand-primary:     #1B3C8F;
$brand-success:     #5cb85c;
$brand-info:        #5bc0de;
$brand-warning:     #f0ad4e;
$brand-danger:      #d9534f;


//$brand-primary:          darken(#428bca, 6.5%) !default; // #337ab7
//$btn-default-color:                #333 !default; 
$btn-default-bg:         lighten(#BECC25, 48.5%) !default;
//$btn-default-border:             #ccc !default;



// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}

main {
  @extend .container;
  width: 100%;
  padding-bottom: 15px;
  margin-top: 93px; // accommodate the navbar 51, 52 if hover:border-bottom 
  //margin-top: 2.0em; 
  a {
    text-decoration: none !important;
  }
  a:hover {
    text-decoration: underline !important;
  };
}

footer {
  flex-shrink: 0;

  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
  border-top: 1px solid #C7D540;
  color: white;
  background-color: #555;
  a {
    color: #C7D540 !important;
    text-decoration: none !important;
  }
  a:hover {
    text-decoration: underline !important;
  };
}


.glyp-index-title {
  color: $brand-primary;
  //color: #BECC25;
}

.index-title {
  color: $brand-primary;
  letter-spacing: 1px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.center-v {
  display: flex;
  align-items: center; 
}

.center-v p {
  margin: 0;
}

.hr-without-top-margin {
  margin-top: 0px;  /*default: 20px; */
  margin-bottom: 10px;
}

.hr-without-all-margin {
  margin-top: 0px;  /*default: 20px; */
  margin-bottom: 0px;
}



@import 'font_awesome5_webfont';

//--------------------------------------------------------------------------


